---
---
.posts-list {
  .post-preview {
    .post-read-more {
      display: block;
      margin-top: 12px;
    }
    
    p {
      margin: 10px 0;
    }

    h1,
    .h1 {
      font-size: 30px;
    }
    h2,
    .h2 {
      font-size: 24px;
    }
    h3,
    .h3 {
      font-size: 18px;
    }
    h4,
    .h4 {
      font-size: 14px;
    }
    h5,
    .h5 {
      font-size: 12px;
    }
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}

