<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%.-1level) %date{HH:mm:ss.SSS} [%30.30logger] %msg%n%rEx{full, org.springframework,
                sun.reflect, java.lang.reflect}
            </pattern>
        </encoder>
    </appender>

    <logger name="io.kotlintest.provided" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
